body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

#logo {
    margin: 0px;
    padding: 9px;
    font-family: "Fredoka One", sans-serif;
    width: 16%;
    text-shadow: 
    1px 1px 0px black, /* bottom-right shadow */
    -1px 1px 0px black, /* bottom-left shadow */
    1px -1px 0px black, /* top-right shadow */
    -1px 1px 0px black, /* top-left shadow */;
}

ul {
    margin: 0px;
}

body > header {
    background-color: rgb(4, 0, 247);
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#nav-ul > li {
    padding: 4px;
    margin: 8px;
}

#country-ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    background-color: rgb(60, 80, 255);
    height: 7.5vh;
    align-items: center;
    justify-content: space-around;
}

#country-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article { /* no selector takes every article in main */
    width: 70%;
    margin: auto; 
}

#main-content div {
    width: 80%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(4, 0, 247);
    padding: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
}


#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

img {
    border-radius: 50%;
}